@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Custom transition duration for hero slider */
.duration-1500 {
  transition-duration: 1500ms;
}